@import '1.tools/fonts';
@import '1.tools/normalize';
@import '1.tools/vars';
@import '2.basics/bodyElements';
@import '2.basics/buttons';
@import '2.basics/colors';
@import '2.basics/links';
@import '2.basics/typography';


/* @import '3.pages/' */

.logo{
    width: 100vw;
    height: 10vh;
    padding-top: 4vh;
    padding-left: 8vw;
    img{
        width: 25vw;
    }
}
.container2{
    display: none;
}

.header{
    text-transform: uppercase;
    @include Font600;
    font-size: 2.5rem;
    text-align: center;
        letter-spacing: 1rem;
        padding-top: 3rem;
        color: $DarkGrayishRed;
    .fontColor{
        @include Font300;
        color: $DesaturatedRed;
    }
}




.text{
    @include Font400;
    color: $DesaturatedRed;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.slider{
    display: flex;
    padding-top: 5vh;
    justify-content: center;
    .inputField{
        width: 80vw;
        height: 6vh;
        border-radius: 1.5rem;
    border: 1px solid $gray ;
    }
    img{
        background-color: $DesaturatedRed;
        height: 6vh;
        position: absolute;
        border-radius: 1.5rem;
        width: 16vw;
        margin-left: 15vh;
    }
}





    ::placeholder{
        padding-left: 1rem;
    }

    @media only screen and (min-width: 1440px) {
        .container2 {
            
            display: block;
        }
        .image__mobile{
            display: none;
        }

        .maincontainer{
            display: flex;
            width: 100vw;
            height: 100vh;

            .container{
                width: 50vw;
            }
            .container2{
                width: 50vw;
                img{
                    width: 50vw;
                }
            }
        }

        .header{
            font-size: 4rem;
            text-align: start;
            padding-top: 15vh;
            padding-left: 8vw;
        }

        .text{
            padding-left: 8vw;
            p{
                text-align: start;
            }
        }

        .logo{
            padding-top: 5vw;
            img{
                width: 10vw;
            }
        }


        .slider{
            padding-top: 10vh;
            .inputField{
                width: 50vh;
            }
            img{
                width: 8vh;
                margin-left: 22vh;
            }
        }

        
      }